<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-3">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Nome">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Sala">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-8 text-center">
                  <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
              </div>
              <div class="form-group">
                <div class="col-offset-2 col-sm-8 text-center">
                  <a href="#">Caso não seja registrado, clique aqui!</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  

</body></html>